@{
    ViewBag.Title = "Admin";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
</head>
<body>
    <div>

        <h2>Employee Pages</h2>

        <div class="col-md-6">
            <h4>Product Management</h4>
            <div class="list-group">
                @Html.ActionLink("Products", "Index", "Product", null, new { @class = "list-group-item" })
                @Html.ActionLink("Catagories", "Index", "Category", null, new { @class = "list-group-item" })
            </div>
        </div>
        <div class="col-md-6">
            <h4>Order Management</h4>
            <div class="list-group">
                @Html.ActionLink("Orders", "Index", "Order", null, new { @class = "list-group-item" })
            </div>
        </div>
        <div class="col-md-12 clearfix" />

    </div>
</body>
</html>
