@{
    ViewBag.Title = "ThankYou";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ThankYou</title>
</head>
<body>
    <div>
        <h2>Thank You</h2>
        Thank you for your Order.<br /><br />
        Your Order ID is @ViewBag.OrderID

    </div>
</body>
</html>
